trunk/AquilaWeb/AquilaWeb/Service References/ServiceReference1/SettingsHandler.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://aquila.com/ServiceHandler" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://aquila.com/ServiceHandler" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://aquila.com/ServiceHandler/Imports">
      <xsd:import schemaLocation="http://localhost:8000/SettingsHandler?xsd=xsd0" namespace="http://aquila.com/ServiceHandler" />
      <xsd:import schemaLocation="http://localhost:8000/SettingsHandler?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/SettingsHandler?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SettingsHandler_SetSetting_InputMessage">
    <wsdl:part name="parameters" element="tns:SetSetting" />
  </wsdl:message>
  <wsdl:message name="SettingsHandler_SetSetting_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetSettingResponse" />
  </wsdl:message>
  <wsdl:message name="SettingsHandler_performAction_InputMessage">
    <wsdl:part name="parameters" element="tns:performAction" />
  </wsdl:message>
  <wsdl:message name="SettingsHandler_performAction_OutputMessage">
    <wsdl:part name="parameters" element="tns:performActionResponse" />
  </wsdl:message>
  <wsdl:portType name="SettingsHandler">
    <wsdl:operation name="SetSetting">
      <wsdl:input wsaw:Action="http://aquila.com/ServiceHandler/SettingsHandler/SetSetting" message="tns:SettingsHandler_SetSetting_InputMessage" />
      <wsdl:output wsaw:Action="http://aquila.com/ServiceHandler/SettingsHandler/SetSettingResponse" message="tns:SettingsHandler_SetSetting_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="performAction">
      <wsdl:input wsaw:Action="http://aquila.com/ServiceHandler/SettingsHandler/performAction" message="tns:SettingsHandler_performAction_InputMessage" />
      <wsdl:output wsaw:Action="http://aquila.com/ServiceHandler/SettingsHandler/performActionResponse" message="tns:SettingsHandler_performAction_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>